@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color:  #bb3950;;
    --secondary-color: #fff;
    --tertiary-color: # ;
    --master-color: ;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/*DEFAULT HEIGHT FOR ALL IMAGES */
img{
    height: auto;
}

/*DEFAULT FONT FAMILY FOR ALL*/

/* NAVIGATION STYLING*/
.navigation{
    height: 4rem;
    width: 100%;
    padding-inline:15rem ;
    margin-bottom: 1rem;
    z-index: -1;
}

.first-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid var(--secondary-color) ;
}

/* THIS CONTAINS THE STYLING FOR ALL DIVISIONS OF THE NAVIGATION
THE LEFT NAV THE MIDDLE NAV AND THE RIGHT NAV*/

.left-nav ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.left-nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    padding: 1rem;
    font-size: 0.95rem;
}

.left-nav ul a:hover{
    text-decoration: var(--primary-color) 2px underline;
    opacity: 0.3;
}

/*STYLING THE MIDDLE NAV*/

.middle-nav img{
   width: 9rem;
}

/*STYLING THE RIGHT NAV*/

.right-nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

.right-nav ul a{
    text-decoration: none;
    color: var(--secondary-color);
    padding: 1rem;
    font-size: 0.95rem;
}

.right-nav ul a:hover{
    text-decoration: #bb3950 2px underline ;
    opacity: 0.3;
}
@media  (max-width:380px) {
    .navigation{
        padding-inline: 1rem;
        width: 100%;
    }
    .left-nav{
        display: none;
    }
    .middle-nav img{
        width:8rem ;
    }
    .right-nav li a{
        display: none;
    }
}
@media (min-width:380px) and  (max-width:480px) {
    .navigation{
        padding-inline: 1rem;

        width: 100%;
    }
    .left-nav{
        display: none;
    }
    .middle-nav img{
        width:8rem ;
    }
    .right-nav li a{
        display: none;
    }
}
@media (min-width:480px) and (max-width:780px) {
    .navigation{
        padding-inline: 1rem;
        width: 100%;
        margin-bottom: ;
    }
    .first-nav{
        width: 100%;
    }
    .right-nav{
        display: none;
    }
    .middle-nav{
        display: none;
    }
}
@media (min-width:701px) and (max-width:1024px) {
    .navigation{
        padding-inline: 1rem;
        width: 100%;
        margin-bottom: ;
    }
    .first-nav{
        width: 100%;
    }
    .right-nav{
        display: none;
    }
    .middle-nav{
        display: none;
    }
}
/*TEXT*/

/*LANDIND PAGE STYLING*/

.main-landing{
    height: 117vh;
    width: 100%;
    position: relative;
    padding-top: rem;
    background-color: rgba(0, 0, 0, 0.6); ;
}

.main-landing::before{
    content: '';
    background: url(/images/collegue-photo-main-classroom-x-webflow-template.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*MAIN LANDINGS EXCLUSIVE MEDIA QUERY*/
@media (max-width:380px) {
    .main-landing{
        background-size: cover;
        height: 116vh;
    }
}
@media (min-width:380px)and  (max-width:480px) {
    .main-landing{
        background-size: cover;
        height: 100vh;
    }
}
@media (min-width:481px) and (max-width:780px) {
    .main-landing{
        background-size: cover;
        height: 105vh;
    }
}
@media (min-width:781px) and (max-width:1023px) {
    .main-landing{
        background-size: cover;
        height: 84vh ;
    }
}
#landing{ 
    height:90vh;
    align-items: center;
    text-align: center;
    padding-inline: 15rem;
    padding-top: 10rem;
}

.h-text{
   padding-inline: 9rem;
}
.h-text h1{
    color: #fff;
    font-weight: 100;
    letter-spacing: 0.2;
    font-size: 4.3rem;
    font-family: Arial, sans-serif; 
    margin-bottom: 1.5rem;
}
 .h-text p{
    color: #fff;
    font-weight: 100;
    font-size: 1.3rem;
    font-family: Arial, sans-serif; 
    padding: 1rem;
    text-align: center;
    margin-bottom: 2.5rem;

}
.h-text button a{
    text-decoration: none;
    color: #fff;
}
.btn{
   
}

.btn a{
    text-decoration: none;
    color: #fff;
}

.red{
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1.4rem 2rem;
}

.red:hover{
    background-color: #c4123095;
}

.norm{
    display: inline-block;
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 1.4rem 2rem;
    text-decoration: none;
    border: 1px solid #a9a7a7;
}

.norm:hover{
    background-color: rgba(255, 255, 255, 0.508);
}
@media (max-width:380px) {
    #landing{
        padding: 0;
        width: 100%;
        height: 117vh;

    }
    .h-text{
        padding-inline: 1rem;
        padding-top: 12rem;
        height: ;
    }
    .btn a{
        font-size: 0.6rem;
    }
    .h-text h1{
        font-size: 2.6rem;
        font-weight: 300;
    }
 
    .btn{

    }
    .red{
        margin-bottom: 2rem;
        padding: 1.21rem 6rem;
    }
    .norm{
        margin-bottom: 2rem;
        padding: 1.21rem 6rem;
    }

}

@media (min-width:380px) and (max-width:480px){
    #landing{
        padding: 0;
        width: 100%;
        height: 100vh;

    }
    .h-text{
        padding-inline: 1rem;
        padding-top: 17rem;

    }
    .btn a{
        font-size: 0.6rem;
    }
    .h-text h1{
        font-size: 2.63rem;
        margin-bottom: 2rem;
        font-weight: 300;
    }
    .h-text p{
        font-size: 1.1rem;
        font-weight: 200;
    }
    .btn{


    }
    .red{
        margin-bottom: 2rem;
        padding: 1.22rem 7rem;
    }
    .norm{
        margin-bottom: 2rem;
        padding: 1.22rem 7rem;
        font-size: ;
    }

}
@media(min-width:480px) and (max-width:700px) {
    #landing{
        padding: 0rem;
        width: 100%;
        height: 85vh;
    }
    .h-text{
        padding-inline: 1rem;
        margin-top: 7rem;

    }
    .btn a{
        font-size: 1.0rem;
    }
    .h-text h1{
        font-size: 4.5rem;
        margin-bottom: 2rem;
    }
    .h-text p{
        font-size: 1.2rem;
        margin-bottom: 5rem;
    }
    .btn{

    }
    .red{
        margin-right: 0.5rem;
        padding: 1.52rem 5rem;
    }
    .norm{
        padding: 1.52rem 4rem;
        font-size: ;
    }
}
@media (min-width:701px) and (max-width:1023px) {
    #landing{
        padding: 0rem;
        width: 100%;
        height: 70vh;
    }
    .h-text{
        padding-inline: 4rem;
        margin-top: 15rem;

    }
    .btn a{
        font-size: 1.0rem;
    }
    .h-text h1{
        font-size: 4.9rem;
        margin-bottom: 2rem;
    }
    .h-text p{
        font-size: 1.8rem;
        margin-bottom: 5rem;
    }
    .btn{

    }
    .red{
        margin-bottom: ;
        padding: 2rem 5rem;
    }
    .norm{
        padding: 2rem 4rem;
        font-size: ;
    }
}
/*EXPLORE STYLING*/
.explore{
     height: fit-content;
     margin-top: 4rem;
     padding-inline: 15rem;
     
}

.explore0{
    display: flex;
    height: fit-content;
    width: 100%;
    box-shadow: 0px 10px 10px grey;

}

.explore1{
    display: flex;
    justify-content: space-between;
  background-color: white;
  height: 15rem;
  align-items: center;
  text-align: center;
  padding: 3rem;
}

.explore1 img{
    width: 4rem;
    margin-right: 1rem;
}

.explore1-text {
    text-align: left;   
}

.explore1-text a{
    text-decoration: none;
    color: black;
    
}

.explore1-text a:hover{
    color: #c41230;
}

.explore1-text p {
    font-weight: 100;
   padding-top: 0.5rem;
    color: #a9a7a7;
}
@media (min-width:380px) and  (max-width:480px) {
    .explore{
        margin-top: rem;
        padding-inline: 1rem;
        

    }
    .explore0{
        display: block;
    }
    .explore1{
        display: block;
        height: 13rem;
    }
    .explore1-text{
        text-align: center;
    }
}
@media (max-width:380px)  {
    .explore{
        margin-top: rem;
        padding-inline: 1rem;
        

    }
    .explore0{
        display: block;
    }
    .explore1{
        display: block;
        height: 13rem;
    }
    .explore1-text{
        text-align: center;
    }
}
@media (min-width:480px) and (max-width:780px) {
    .explore{
        padding-inline: 2rem;
        margin-top: 6rem;
    }

    .explore0{
        display: block;
    }
    .explore1 img{
        width: 8rem;
    }
    .explore1-text a{
        font-size: 1.5rem;
    }
    .explore1-text p {
        font-weight: 200;
        font-size: 1.2rem;
    }
}
@media (min-width:701px) and (max-width:1024px) {
    .explore{
        padding-inline: 2rem;
        margin-top: ;
    }

    .explore0{
        display: block;
    }
    .explore1 img{
        width: 8rem;
    }
    .explore1-text a{
        font-size: 1.5rem;
    }
    .explore1-text p {
        font-weight: 200;
        font-size: 1.2rem;
    }
}
/*THiS FAVICON IS NOT IMPORTANT TO BE REPLACE WITH A JAVASCRIPT FUNCTION*/
.favicon {
    position: sticky ;
    width: 100%;
    height: 3rem;
    bottom: 0;
}
.favicon a{
    padding: 1rem 1rem;
    margin-right: 1rem;
    margin-bottom: rem;
    background-color: #a9a7a7;
    float: right ;
    color: white;
    font-size: 1.3rem;
}
.favicon a:hover{
    padding: 0.8rem 0.8rem;
    color: black;
    font-size: 1rem;
}
/*OUR MISSION'S SECTION STYLE*/

#mission{
    display: flex;
    height: 95vh;
    align-items: center;
    margin-top:1rem;
    padding-inline: 16rem;
    
}

.mission-img{
    width: 55%;
    height: 62vh;
    display: flex;
    justify-content: space-between;
}

.mission-img .img-1{
   width: 62%;
   height: auto;
}

.mission-img img{
    width: 100%;
    height: auto;
}

.img-2{
    display: block;
    width: 35%;
    height: auto;
}

.img-2 img{
    width: 100%;

}

.img-2 img:first-child{
    margin-bottom:1rem;
    height: auto;
}

.img-2 img:nth-child(2){
   height: auto;
}

.mission-text{
    width: 45%;
    height: 62vh;
    padding-left: 3rem;
    padding-top: 1.5rem;
}

.mission-text h2{
    font-size: 2.3rem;
    font-weight: 350;
    margin-bottom: 1rem;
}

.mission-text p{
    font-weight: 100;
    margin-bottom: 2rem;
}

.carter{
    margin-left: 1rem;
    font-size: 1rem;
}

.john img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.john a{
    text-decoration: none;
    color: #000;
}
@media (min-width:380px) and (max-width:480px) {
    #mission{
        padding: 1rem;
        height: 90vh;
        width: 100%;
        margin-top: 4rem;
        display: block;

    }
    .mission-img{
        width: 100%;
        height: 25rem;
    }
    .mission-text{
        width: 100%;
        padding-top: 2rem;
        padding-left: 1rem;
        height: 20rem;
    }
    .mission-img .img-1{
        height: auto;
    }
    .img-2 img{
        height: 9.75rem;
    }
    .img-2 img:nth-child(2){
        height: auto;
     }
}
@media (max-width:380px) {
    #mission{
        padding: 1rem;
        height: 120vh;
        width: 100%;
        margin-top: 4rem;
        display: block;

    }
    .mission-img{
        width: 100%;
        height: 20rem;
    }
    .mission-text{
        width: 100%;
        padding-top: 2rem;
        padding-left: 1rem;
        height: 20rem;
    }
    .mission-img .img-1{
        height: auto;
    }
    .img-2 img{
        height: 9.75rem;
    }
    .img-2 img:nth-child(2){
        height: auto;
     }
}
@media (min-width:480px) and (max-width:780px) {
  #mission{
    display: block;
    height: fit-content;
   /* background-color: #000;*/
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-inline: 1rem;
    
  }  
  .mission-img{
    width: 100%;
    display: block;
    height: fit-content;
}
.mission-text{
    width: 100%;
    height: fit-content;
    padding-left: 1.5rem;
  
}
.mission-text h2{
    font-size: 2.7rem;
}
.mission-text p{
    font-size: 1.5rem;
    margin-bottom: 4rem;
}
.mission-img .img-1{
    width: 100%;
    height: 43rem;
 }
 .img-2{
    display: block;
    width: 100%;
    height: 43rem;
}
.img-2 img:nth-child(2){
   display: none;
 }
 

}
@media (min-width:701px) and (max-width:1023px) {
    #mission{
        display: block;
        height: fit-content;
       /* background-color: #000;*/
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding-inline: 1rem;
        
      }  
      .mission-img{
        width: 100%;
        display: block;
        height: fit-content;
    }
    .mission-text{
        width: 100%;
        height: 38rem;
        padding-left: 1.5rem;
      
    }
    .mission-text h2{
        font-size: 2.7rem;
    }
    .mission-text p{
        font-size: 1.5rem;
        margin-bottom: 4rem;
    }
    .mission-img .img-1{
        width: 100%;
        height: 70rem;
     }
     .img-2{
        display: block;
        width: 100%;
        height: 62rem;
    }
    .img-2 img:nth-child(2){
       display: none;
     }
     
}



/*ABOUT US SECTION STYLE*/
.container{
    width: 100%;
    margin: 0;
    overflow: auto;
    padding: 0 0rem; 
 }
 
.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    background:#f8f9fc;
    height: 100vh;
}

.about h3{
    margin-bottom: 2rem;
    font-size: 2.2rem;
    font-weight: 350;
}

.about img{
    height: 100vh;
    width: 49.5vw;
}

.about1{
    padding-left: 15rem;
    padding-top: 15rem;
    padding-right: 6rem;
}

.about2{
    padding-left: 6rem;
    padding-top: 15rem;
    padding-right: 15rem;
}

.about:nth-child(odd) img {
    order: 2;
}

.about .btn{
    display: inline-block;
    background: transparent;
    color: #000;
    border: 1.59px solid #000;
    padding: 1rem 1.3rem;
    margin-top: 2rem;
    cursor: pointer;
    text-decoration: none;
}

.about .btn:hover{
   background: var(--primary-color);
   color: #fff;
   border: transparent;
}

@media (min-width:480px) and ( max-width:780px) {
    .about{
        grid-gap: 0rem;
    }
    
    .about1{
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 1rem;
    }
    .about1 p{
        display: none;
    }
    .about2 p{
        display: none;
    }
    .about2{
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 1rem;
    }
    .about{
        height: 60vh;
    }
    .about img{
        height: 60vh;
    }
}
@media (min-width:380px) and  (max-width:480px) {
    #about{
        padding-top: 4rem;
    }
    .about{
        display: block;
        height: 120vh;
        margin-bottom: 5rem;
    }
    .container{
        padding: 0.5rem;
    }
    .about img{
        width: 100%;
        height: auto;
    }
    .about1,.about2{
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 0;
        text-align: center;
    }
    .about h3{
        font-size: 1.5rem;
    }
    .about .btn{
        padding: 1rem 3.5rem;
        display: inline-block;
        background: transparent;
        color: #000;
        border: 1.59px solid #000;
        margin-top: 2rem;
        cursor: pointer;
        text-decoration: none;
        font-size: 0.7rem;
    }
}
@media (max-width:380px)  {
    #about{
        padding-top: 4rem;
    }
    .about{
        display: block;
        height: 120vh;
        margin-bottom: 3rem;
    }
    .container{
        padding: 0.5rem;
    }
    .about img{
        width: 100%;
        height: auto;
    }
    .about1,.about2{
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 1rem;
        text-align: center;
    }
    .about h3{
        font-size: 1.5rem;
    }
    .about .btn{
        padding: 1rem 3.5rem;
        display: inline-block;
        background: transparent;
        color: #000;
        border: 1.59px solid #000;
        margin-top: 2rem;
        cursor: pointer;
        text-decoration: none;
        font-size: 0.7rem;
    }

}
@media (min-width:701px) and (max-width:1023px) {
    .about{
        grid-gap: 0rem;
    }
    
    .about1{
        padding-left: 1rem;
        padding-top: 15rem;
        text-align: center;
        padding-right: 1rem;
    }
    .about1 p{
        display: none;
    }
    .about2 p{
        display: none;
    }
    .about2{
        padding-left: 1rem;
        padding-top: 15rem;
        text-align: center;
        padding-right: 1rem;
    }
    .about{
        height: 50vh;
    }
    .about img{
        height: 50vh;
    }
}


/*ACADEMICS PROGRAM SECTION'S STYLE*/

#academics{
    height: 130vh;
    width: 100%;
    padding-block: 8rem;
    padding-inline: 20rem;
}

.program{
    padding-inline: rem;
    width: 100%;
    height: fit-content;

}

.program-pages{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    height: fit-content;
}

.program-text{
    text-align: center;
}

.program-text h2{
    font-size: 1rem;
    font-weight: 460;
    color: #c41230;
    margin-block: 1rem;
}

.program-text h3{
    font-size: 2rem;
    font-weight: 400; 
    margin-bottom: 2rem;
}

.undergraduate{
    width: 24rem;
    height: 35rem;
    margin-right: 0.7rem;
    box-shadow: 0px 10px 10px rgb(220, 220, 220);

}

.postgraduate{
    width: 24rem;
    height: 35rem;
    margin-left: 0.7rem;
    box-shadow: 0px 10px 10px rgb(220, 220, 220);

}

.program-pages img{
    width: 24rem;
    height: 18rem;
}

.undergraduate-text,
.postgraduate-text{
    padding-inline: 2rem;
    padding-top: 2.5rem;
}

.undergraduate-text .up,
.postgraduate-text .up{
    background-color: #a9a7a7;
    height: 2px;
    width: 100%;
}

/*ACADEMICS PROGRAMMES TEXT*/
h4{
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
}
p{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
.ppp{
    background: #bb3950;;
    border: none;
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 1.3rem;
    align-self: center;
    cursor: pointer;
    text-decoration: none;
}
.ppp:hover{
    color: #000;
    padding: 0.9rem 1.2rem;
    font-size: 1rem;
    background-color: rgb(2, 2, 135);
}
.pp{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.course{
    font-weight: 300;
    font-size: 0.85rem;

}
.course span{
    color: #c41230;
    font-size: 1.8rem;
    font-weight: 400;
}
.course2{
    font-weight: 300;
    font-size: 0.85rem;

}
.course2 span{
    color: #c41230;
    font-size: 1.8rem;
    font-weight: 300;
}
.a-btn{
    display: inline-block;
    background: transparent;
    color: #000;
    border: 1.59px solid #000;
    padding: 1rem 1.3rem;
    margin-top: 2.5rem;
    margin-left: 18rem;
    cursor: pointer;
    text-decoration: none;
}
.a-btn:hover{
    background: #bb3950;
    color: #fff;
    border: transparent;
 }

@media (max-width:380px) {
    #academics{
        padding-block: 4rem;
        height: fit-content;
        padding-inline: 0rem;
    }
    .program{
        padding-inline: 0.5rem;
        text-align: center;
    }
    .program-pages{
        display: block;
        text-align: left;
    }
    .program-text{
        padding-inline: 2rem;
        font-family: "Roboto", sans-serif;
    }
    .program-text h3{
        font-size: 1.4rem;
    }
    .undergraduate,
    .postgraduate{
        width: 21rem;
        margin-bottom: 2rem;
        margin-right: 0;
        margin-left: 0;
    }
    .program-pages img{
        width: 21rem;
    }
    .program .a-btn{
       margin: 0;
       padding: 1rem 3.0rem;
    }
    h4{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.7rem;
    }
    p{
        font-size: 0.9rem;
        font-weight: 300;
        font-family: "Roboto", sans-serif;
    }
}
@media (min-width:380px) and  (max-width:480px) {
    #academics{
        padding-block: 4rem;
        height: fit-content;
        padding-inline: 0rem;
    }
    .program{
        padding-inline: 0.5rem;
    }
    .program-pages{
        display: block;
    }
    .program-text{
        padding-inline: 1rem;
        width: 21rem;
    }
    .program-text h3{
        font-size: 1.4rem;
    }
    .undergraduate,
    .postgraduate{
        width: 21rem;
        margin-bottom: 2rem;
        margin-right: 0;
        margin-left: 0;
    }
    .program-pages img{
        width: 21rem;
    }
    .program .a-btn{
       margin: 0;
       padding: 1rem 5rem;
    }
}
@media (min-width:480px) and (max-width:780px){
    
#academics{
    padding-block: 5rem;
    padding-inline: 2rem;
    height: fit-content;
}


.program-pages{
    display: block;
    width: fit-content;
    padding-inline: 1rem;
}

.undergraduate{
  margin-bottom: 2rem;
  
}

.postgraduate{
      margin-bottom: 1rem;
}
.a-btn{
    margin-top: 2.5rem;
    margin-left: 8rem;
}
}
@media (min-width:701px) and (max-width:1023px) {
    #academics{
        height: fit-content;
        width: 100%;
        padding-block: 8rem;
        padding-inline: 1rem;
    }
}
/*WATCH A VIDEO SECTION STYLING*/
#video{
    height: 75vh;
    margin-top: 9rem;
    background: url(/images/collegue-park-photo-classroom-x-webflow-template.jpg);
    place-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.overlay{
    border-image-source: linear-gradient(hsla(0, 0%, 0%, 0.05) , hsl(0, 0%, 0%));
    border-image-slice: fill 1;
}

.video-landing{
    height: 70vh;
    padding: 7rem 10rem;
    
}
 .video-text{
    padding: 7rem 19rem;
    align-items: center;
    text-align: center;
}

 .video-text h2{
    color: white;
    font-weight: 100;
    letter-spacing: 0.4;
    font-size: 35px;
    font-family: Arial, sans-serif; 
    margin-bottom: 0.5rem;
}
 .video-text p{
    color: white;
    font-weight: 100;
    font-size: 16px;
    font-family: Arial, sans-serif; 
    padding: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;

}
.video-text button a{
    text-decoration: none;
    color: #fff;
}
@media (max-width:380px) {
    .video-landing{
        padding: 4rem 1rem;
    }
    .video-text{
        padding: 2rem 1rem;
    }
    .video-text h2{
        font-weight: 300;
        letter-spacing: 0;

    }
     .video-text p{
        font-weight: 200;

    }
    .video-b{

    }
    .video-text button a{
    font-size: 0.7rem;
    }
}
@media (min-width:380px) and (max-width:480px) {
    .video-landing{
        padding: 6rem 1rem;
    }
    .video-text{
        padding: 5rem 1rem;
    }
}
@media (min-width:480px) and (max-width:780px) {
    .video-landing{
        padding: 7rem 2rem;
    }
    .video-text{
        padding: 5rem 1rem;
    }
}
@media (min-width:781px) and (max-width:1239px) {
    #video{
        height: 70vh;

    }
    .video-landing{
        padding: 7rem 1rem;
    }
    .video-text{
        padding: 6rem 1rem;
    }
    .video-text h2{
        font-size: 3.6rem;
        margin-bottom: 1rem;
    }
     .video-text p{
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }
    .video-text button a{
        text-decoration: none;
        color: #fff;
    }
}
/*IMAGE SLIDE SECTION */

#slide-section{
    height: fit-content;
    overflow: hidden;
    padding-block: 4rem;
    text-align: center;
    padding-inline-start: rem;
    background-color: rgb(242, 244, 246);
}

.slider{
    position:relative ;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    padding: 5rem;
}
#slide-section h1{
    font-size: 2.4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.slide{
    position: absolute ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;

}

.slide.current{
    opacity: 1;
}


.slide .content{
    position:relative ;
    float: left;
    top: 70%;
    left: -131px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 35px;
    width: 25rem;
    text-align: left;
}

.slide .content h2{
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-weight: 300;
}
.slide .content p{
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 300;
}

.slide.current .content{
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}
.buttons{
    float: right;
    padding: 2rem
}

.buttons button#next{
    position:  ;
    top: 0%;
    right: ;
    float: ;
    margin-right: 2rem
}
.buttons button#prev{
    position: ;
    top: 0%;
    left: ;
    float: ;
    margin-right: 2rem
}

.buttons button{
    border: 2px solid #000;
    background-color: transparent;
    cursor: pointer;
    color: #000;
    padding: 13px 15px;
    border-radius: %;
    outline: none;
}

.buttons button:hover{
    background-color: #fff;
    color: #333;
}

/*Background Images*/
.slide:first-child{
    background: url("/images/photo1.jpg") no-repeat center center/cover;
    background-size: contain;
    background-position: center;
}
.slide:nth-child(2){
    background: url("/images/photo2.jpg") no-repeat center center/cover;
    background-size: contain;
    background-position: center;
}
.slide:nth-child(3){
    background: url("/images/photo3.jpg") no-repeat center center/cover;
    background-size: contain;
    background-position: center;
}
.slide:nth-child(4){
    background: url("/images/photo4.jpg") no-repeat center center/cover;
    background-size: contain;
    background-position: center;
}
.slide:nth-child(5){
    background: url("/images/photo5.jpg") no-repeat center center/cover;
    background-size: contain;
    background-position: center;
}

#slide-section button a{
    text-decoration: none;
    color: #fff;
}
#slide-section button {
    margin-top: 2rem;
}
@media (max-width:380px) {
    .slide .content{
        position:relative ;
        float: left;
        top: 58.3%;
        left: -599.9px;
        padding: 30px;
        width: 22rem;
    }


    .slider{
        position:relative ;
        overflow: hidden;
        height: 90vh;
        width: 100vw;
        padding-block: 1rem;
    }
}
@media (min-width:380px) and (max-width:480px){
    .slide .content{
        position:relative ;
        float: left;
        top: 58.3%;
        left: -599.9px;
        padding: 30px;
        width: 22rem;
    }
    .slider{
        position:relative ;
        overflow: hidden;
        height: 90vh;
        width: 100vw;
        padding-block: 1rem;
    }
}

/*STYLING FOR SPOTLIGHT*/
#spotlight{
    height: 120vh;
    text-align: center;
    padding: 9rem;
}

.spotlight-text{
    height:34vh;
    padding-block: 2rem;
    padding-inline: 22.5rem;
}
.spotlight-text h4{
    color: #bb3950;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;

}
.spotlight-text h2{
    font-size: 1.96rem;
    font-weight: 300;
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;

}
.spotlight-text p{
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;

}

.spotlight{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 35vh;
    text-align: left;
}
.spotlight1{
    height:30vh ;
    background-color: #fff;
    margin-left: 8rem;
    padding: 1rem;
    width: 50%;
    margin-right: 1rem;
    margin-top: 1rem;
    padding-top: 3rem;
    box-shadow: 0px 10px 10px rgb(220, 220, 220);

}
.spotlight2{
    height:30vh ;
    position: relative;
    width: 50%;
    padding: 1rem;
    padding-top: 3rem;
    background-color: #fff;
    margin-left: 1rem;
    margin-right: 8rem;
    margin-top: 1rem;
    box-shadow: 0px 10px 10px rgb(220, 220, 220);

}
.spotlight1 img, .spotlight2 img{
   width:5rem;
   float: left;
   margin-left: 1rem;
   border-radius: 50%;
}

.spotlight1 p ,.spotlight2 p{
    float: right;
    position: relative;
    width: 20rem;
    font-size: 1rem;
    margin-top: rem;
    font-weight: 300;
}

.spotlight-count{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 12rem;
}
 .count{
    padding-inline: 2.5rem;
 }
.count h2{
    font-size: 2.8rem;
    color: #bb3950;
    font-weight: 350;
    margin-bottom: 0.5rem;
    font-family: "Roboto", sans-serif;
}

.count h5{
    font-size: 1.09rem;
    color: #000;
    font-weight: 400;
    margin-bottom: 0.5rem;
    font-family: "Roboto", sans-serif;
}
.count p{
    font-size: 0.99rem;
    margin-top: rem;
    font-weight: 300;
}
@media (max-width:380px) {
    #spotlight{
        padding: 1rem;
        height: fit-content;
    }
    .spotlight-text{
        padding-block: 1rem;
        padding-inline: 2rem;
    }
    .spotlight-text p{
        display: none;
    }
    .spotlight{
        display: block;
        width: 100%;
        height: fit-content;
    }
    .spotlight1{
        height: 45vh ;
        margin-left: 0rem;
        padding: 1rem;
        width: 100%;
    }
    .spotlight2{
        height:45vh ;
        width: 100%;
        padding: 1rem;
        margin-left: 0rem;
    
    }
    .spotlight-count{
        display: block;
        padding: 3rem;
        height: fit-content;
    }
    .spotlight-text h4{
        color: #bb3950;
        font-size: 0.9rem;
        font-family: "Roboto", sans-serif;
    
    }
    .spotlight-text h2{
        font-size: 1.96rem;
        font-weight: 400;
        margin-bottom: 1rem;
        font-family: "Roboto", sans-serif;
    
    }
     .count{
        padding-inline: 0rem;
     }
    .count h2{
        font-size: 2.8rem;
        color: #bb3950;
        font-weight: 300;
        margin-bottom: 0.5rem;
        font-family: "Roboto", sans-serif;
    }
    
    .count h5{
        font-size: 1.09rem;
        color: #000;
        font-weight: 450;
        margin-bottom: 0.5rem;
        font-family: "Roboto", sans-serif;
    }
    .count p{
        font-size: 0.99rem;
        margin-top: rem;
        font-weight: 300;
    }
    
    
}
@media (min-width:380px) and (max-width:480px) {
    #spotlight{
        padding: 1rem;
        height: fit-content;
    }
    .spotlight-text{
        padding-block: 1rem;
        padding-inline: 2rem;
    }
    .spotlight-text p{
        display: none;
    }
    .spotlight{
        display: block;
        width: 100%;
        height: fit-content;
    }
    .spotlight1{
        height: 40vh ;
        margin-left: 0rem;
        padding: 1rem;
        width: 100%;
    }
    .spotlight2{
        height:40vh ;
        width: 100%;
        padding: 1rem;
        margin-left: 0rem;
    
    }
    .spotlight1 p ,.spotlight2 p{
        width: 18rem;
        font-size: 0.8rem;
        margin-top: 0.5rem;
        font-weight: 200;
    }
    .spotlight-count{
        display: block;
        padding: 3rem;
        height: fit-content;
    }
     .count{
        padding-inline: 0rem;
     }
    .count h2{
        font-size: 2.8rem;
        color: #bb3950;
        font-weight: 200;
        margin-bottom: 0.5rem;
        font-family: "Roboto", sans-serif;
    }
    
    .count h5{
        font-size: 1.09rem;
        color: #000;
        font-weight: 400;
        margin-bottom: 0.5rem;
        font-family: "Roboto", sans-serif;
    }
    .count p{
        font-size: 0.99rem;
        margin-top: rem;
        font-weight: 200;
    }

    }
@media (min-width:480px) and (max-width:780px) {

}
@media (min-width:781px) and (max-width:1239px) {
  
}


/*FOLLOW US ON ****STYLING*/
#follow-us{
    height: 105vh;
    text-align: center;
    width: 100%;
}

.follow-text{
    height: 30vh;
    padding-top: 1rem;
    padding-inline: 33rem;
}
.follow-text h3{
    font-size: 2.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
}
.follow-text p{
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    margin-bottom: 1rem;
}

.follow-link{
    width: 100%;
    padding: 0;
    display: flex;
}
.follow-link img{
    width: 25%;
}
.follow{
    margin-top: 2rem;
}
.follow a{
    color: #fff;
    text-decoration: none;
}

@media (max-width:380px) {
    #follow-us{
        height: 100vh;
    }
    .follow-text{
        height: 35vh;
        padding-top: 1rem;
        padding-inline: 1rem;
    }
    .follow-link{
        width: 100%;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .follow-link img{
        width: 100%;
    }
    .follow-text p{
        font-size: 0.9rem;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    .follow{
        margin-top: 2rem;
        padding: ;
    }
}
@media (min-width:380px) and (max-width:480px) {
    #follow-us{
        height: 80vh;
    }
    .follow-text{
        height: 25vh;
        padding-top: 1rem;
        padding-inline: 1rem;
    }
    .follow-link{
        width: 100%;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .follow-link img{
        width: 100%;
    }
    .follow{
        margin-top: 2rem;
        padding: ;
    }
    }


/*FOOTER STYLING*/
footer {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    color: #333;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-block: 8rem;
    padding-inline: 15rem;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 2px;
}
.first{
    margin-top: 3rem;
}
.footer-section h3 {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
    font-size: 0.8rem;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section .event {
    margin-bottom: 20px;
}

.footer-section .event-date {
    font-size: 12px;
    color: #777;
    margin-bottom: 5px;
}

.footer-section .event-title a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.footer-section .event-title a:hover {
    text-decoration: underline;
}

.footer-section p {
    margin-bottom: 10px;
}

.footer-section p a {
    color: #333;
    text-decoration: none;
}

.footer-section p a:hover {
    text-decoration: underline;
}
@media (min-width:380px) and (max-width:480px) {
    .footer-container {
        display: block;
        padding-block: 8rem;
        padding-inline: 3rem;
    }
    .footer-section {

        margin-bottom: 2rem;
    }
    .first{
        margin-top: 0rem;
    }
    }
    @media (max-width:380px) {
        .footer-container {
            display: block;
            padding-block: 8rem;
            padding-inline: 3rem;
        }
        .footer-section {
    
            margin-bottom: 2rem;
        }
        .first{
            margin-top: 0rem;
        }
    }

/*STYLING FOR THE COPYRIGHT PART*/

.bottom-footer {
    background-color: #fff;
    border-top: 1px solid #eaeaea;
    padding: 20px 0;
    text-align: center;
}

.bottom-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.bottom-footer-content .logo {
    display: flex;
    align-items: center;
}

.bottom-footer-content .logo img {
    height: 24px;
    margin-right: 8px;
}

.bottom-footer-content .logo span {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.bottom-footer-content .copyright {
    font-size: 14px;
    color: #777;
}

.bottom-footer-content .copyright a {
    color: #e60023;
    text-decoration: none;
}

.bottom-footer-content .copyright a:hover {
    text-decoration: underline;
}
@media (min-width:380px) and (max-width:480px) {
    .bottom-footer-content {
        display: block;
        align-items: center;
        margin: 0 auto;
        padding: 0 20px;
    }
    .logo{
        height: 3rem;
        padding-inline: 6rem;
    }
    }
    @media (max-width:380px) {
        .bottom-footer-content {
            display: block;
            align-items: center;
            margin: 0 auto;
            padding: 0 20px;
        }
        .logo{
            height: 3rem;
            padding-inline: 6rem;
        }
    }
